* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

.header {
  text-align: center;
}

.header-tagline {
  font-size: 0.8em;
  margin-top: 0.2em;
  color: #9fa1a4;
}

h1,
h4,
p {
  color: #dce0e3;
  letter-spacing: 0.1em;
}

button {
  cursor: pointer;
  font-size: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.global-input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #dce0e3;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.global-button {
  background-color: #ffdb58;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  outline: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app {
  background-color: #3d434b;
  padding: 2em;
  min-height: 100%;
  width: 100%;
}

.app-body {
  margin-top: 1em;
  width: 100%;
}

.user-input-container {
  display: flex;
  justify-content: space-between;
  background-color: black !important;
  padding: 0.5em;
  border-radius: 5px;
  position: relative;
}

.user-input-container input {
  background-color: black;
  border: none;
  outline: none;
  color: #dce0e3;
  padding: 0 1em;
  width: 100%;
}

.user-input-container input::placeholder {
  color: #dce0e3;
}

.user-input-container button {
  background-color: #ffdb58;
  border: none;
  height: 25px;
  width: 50px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 2px;
}

.people-container {
  max-height: 65vh;
  overflow: auto;
  margin-top: 20px;
  padding-top: 1em;
}

.person-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.name {
  margin: 0.5em 0;
  width: 100%;
  color: #fff;
  border-right: 1px solid #000;
  border-radius: 0;
}

.contribution {
  margin: 0.5em 0;
  width: 100%;
  color: #fff;
}

.hidden {
  display: none !important;
}

.ballance-button {
  padding: 1.2em;
  width: 45%;
  letter-spacing: 0.1em;
}

.split-by-person {
  margin-top: 10px;
  overflow: auto;
  max-height: 45vh;
  padding: 0 1em;
  margin-top: 1.5em;
}

.highlight {
  color: #9158aa;
}

.split-by-person .balance-item {
  margin-bottom: 8px;
  color: #000;
}

.reset-button {
  background-color: #9158aa;
  width: 45%;
  color: white;
}

.split-action-buttons {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #313338;
  padding: 1.5em;
  border-radius: 0.5em 0.5em 0 0;
}

.app-modal-backdrop {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-usage-modal {
  background-color: #ffff;
  padding: 2em;
  margin: 0 1em;
  border-radius: 5px;
}

.instruction-header-heading {
  color: #000;
  margin-bottom: 0.5em;
}

.instruction-list-item {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  line-height: 1.5em;
}

.positive-highlight {
  background-color: #ffdb58;
  padding: 0.3em 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  font-size: 0.8em;
  display: inline-block;
}

.negetive-highlight {
  background-color: #9158aa;
  font-weight: bold;
  padding: 0.3em 1.5em;
  border-radius: 0.2em;
  color: #fff;
  font-size: 0.8em;
  display: inline-block;
}

.modal-close-button-container {
  text-align: center;
}

.instruction-modal-close-button {
  padding: 0.5em;
  font-size: 0.9em;
  margin-top: 1em;
  background-color: #04aa6d;
  color: #ffff;
  border: 1px solid #04aa6d;
  border-radius: 5px;
  font-weight: bold;
}

.download-report {
  padding: 0 2px;
}

.calc-button {
  width: 10%;
  margin-bottom: 5px;
}

.calc-symbol-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calc-button-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  width: 50%;
}

.instruction-item {
  margin-bottom: 1.5em;
}

.instruction-description-container {
  font-size: 0.8em;
  line-height: 1.2em;
}

.report-modal-container {
  position: absolute;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-height: 55vh;
  animation: slide-up 0.1s;
  transition: transform 0.2s linear, opacity 0.2s linear;
}

.debt-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 32px #00000029;
  padding: 1em;
}

.debt-header h4 {
  color: #000;
}

.report-modal-close {
  background-color: transparent;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  top: 0.5em;
  right: 1em;
}

.report-modal-close p {
  color: #000;
  font-size: 3em;
}
.additional-info-description {
  margin-top: 0.5em;
  color: #000;
}

.nobg-negetive-highlight {
  color: #9158aa;
  font-weight: bold;
}

.head-count-text {
  color: #fff;
  font-size: 0.6em;
  position: absolute;
  top: -0.8em;
  background-color: #3d434b;
  padding: 0.2em 0.5em;
  left: 2em;
  border-radius: 1em;
}

.name-input {
  position: relative;
  border: 1px solid #000;
  border-radius: 0.3em;
  width: 50%;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.name-label {
  color: #000;
  font-size: 0.8em;
  position: absolute;
  top: -0.8em;
  background-color: #3d434b;
  padding: 0.2em 0.5em;
  left: 1em;
  border-radius: 1em;
}

.contribution-input {
  position: relative;
  border: 1px solid #000;
  border-radius: 0.3em;
  width: 50%;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.contribution-label {
  color: #000;
  font-size: 0.8em;
  position: absolute;
  top: -0.8em;
  background-color: #3d434b;
  padding: 0.2em 0.5em;
  left: 1em;
  border-radius: 1em;
}

@keyframes slide-up {
  from {
    max-height: 0;
  }
  to {
    max-height: auto;
  }
}
